:root {
    --violet: hsl(257, 40%, 49%);
    --softMagenta: hsl(300, 69%, 71%);
    --white: #fff;
}
body {
    height: 100vh;
    background: url(../images/bg-desktop.svg), var(--violet);
    background-size: contain;
    background-position: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: var(--white);
    font-family: 'Open Sans','Poppins', sans-serif;
}
.container {
    max-width: 90%;
    width: 90%;
    display: flex;
    gap: 50px;
    align-items: center;

    img {
        display: block;
    }
    .left {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        .logo {
            position: absolute;
            top: 40px;
        }
        .mockup {
            position: relative;
            margin-top: 50px;
        }

    }
    .right {
        position: relative;
        max-width: 500px;
        h1 {
            margin-top: -60px;
            margin-bottom: 10px;
            font-size: 38px;
            font-family: 'Poppins';
            font-weight: 600;
        }
        p {
            font-size: 17.2px;
            font-weight: 400;
            margin-top: 0;
        }
        button {
            border: none;
            cursor: pointer;
            border-radius: 100px;
            padding: 10px 18px;
            font-size: 15px;
            width: 150px;
            color: var(--violet);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            &:hover {
                color: var(--white);
                background-color: var(--softMagenta);
            }
        }
        .icons {
            position: absolute;
            right: 0;
            bottom: -160px;
            span {
                display: inline-block;
                border-radius: 50%;
                border: 2px solid var(--white);
                margin-right: 10px;
                width: 40px;
                text-align: center;
                height: 40px;
                animation-duration: icono .5s ;
                cursor:pointer;
                i {
                    padding: 10px;
                    font-size: 20px;
                }
                &:hover {
                    color: var(--softMagenta);
                    border: 2px solid var(--softMagenta);
                    animation: icono .5s ease;
                }
                @keyframes icono {
                    from{
                        transform: rotate3d(0,0,0,0);
                    }
                    to {
                        transform: rotate3d(0,1,0, 360deg);
                    }
                }
            }


        }

    }
}
@media screen and (max-width: 768px) {
    .container {
        flex-wrap: wrap;
        justify-content: center;
        .left {
            .mockup {
                margin-top: -80px;
                margin-bottom: 80px;
            }
        }
        .right {
            text-align: center;
            
            button {
                width: 175px;
            }
            .icons {
                right: 158px;
                bottom: -144px;
            }
        }
    }
}
@media screen and (max-width: 376px) {
    .container {
        flex-wrap: wrap;
        .left {
            .mockup {
                width: 320px;
                margin-top: 0;
                margin-bottom: 50px;
            }
        }
        .right {
            h1 {
                font-size: 28px;
                text-align: center;
            }
            p {
                text-align: center;
            }
            button {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 175px;
            }
            .icons {
                right: 67px;
                bottom: -136px;
            }
        }
    }
}